:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #20242b;
  background: #eceff3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}
